@model IEnumerable<CompareVM>

@if (Model != null && Model.Count() > 0)
{
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <!-- Compare Table -->
                    <div class="compare-table table-responsive">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td class="first-column">Product</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="product-image-title">
                                            <a href="#" class="image">
                                                <img src="~/assets/image/products/@compareVM.Image"
                                             alt="Compare Product">
                                            </a>
                                            <a href="#" class="category">Glasses</a>
                                            <a href="#" class="title">Rinosin Glasses</a>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td class="first-column">Description</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-desc">
                                            <p>
                                                Eye glasses are very important for thos whos have some difficult in
                                                their eye to see every hing clearly and perfectly
                                            </p>
                                        </td>
                                    }
                                    
                                </tr>
                                <tr>
                                    <td class="first-column">Price</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-price">$295</td>
                                    }
                                    
                                </tr>
                                <tr>
                                    <td class="first-column">Stock</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-stock">@(compareVM.IsAvailable ? "In Stock" : "Not in Stock")</td>
                                    }
                                </tr>
                                <tr>
                                    <td class="first-column">Add to cart</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-addtocart">
                                            <a asp-controller="basket" asp-action="addbasket" asp-route-id="@compareVM.Id" class="add-to-cart" tabindex="0">
                                                <i class="fas fa-shopping-cart"></i><span>ADD TO CART</span>
                                            </a>
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    <td class="first-column">Delete</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-remove"><a asp-controller="compare" asp-action="deletecompare" asp-route-id="@compareVM.Id"><i class="fas fa-trash"></i></a></td>
                                    }
                                </tr>
                                <tr>
                                    <td class="first-column">Rating</td>
                                    @foreach (CompareVM compareVM in Model)
                                    {
                                        <td class="pro-ratting">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-o"></i>
                                    </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
