@model Review

<div class="rating-row pt-2">
    <p class="d-block">Your Rating</p>
    <form asp-controller="product" asp-action="addreview" asp-route-productId="@Model.ProductId" class="mt--15 site-form ">
        <span class="rating-widget-block">
            <input type="radio" asp-for="Star" value="5" id="star5">
            <label for="star5"></label>
            <input type="radio" asp-for="Star" value="4" id="star4">
            <label for="star4"></label>
            <input type="radio" asp-for="Star" value="3" id="star3">
            <label for="star3"></label>
            <input type="radio" asp-for="Star" value="2" id="star2">
            <label for="star2"></label>
            <input type="radio" asp-for="Star" value="1" id="star1">
            <label for="star1"></label>
        </span>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="Comment">Comment</label>
                    <textarea asp-for="Comment" id="message" cols="30" rows="10"
                              class="form-control"></textarea>
                    <span asp-validation-for="Comment" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="Name">Name *</label>
                    <input asp-for="Name" id="name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label asp-for="Email">Email *</label>
                    <input asp-for="Email" id="email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="submit-btn">
                    <button type="submit" class="btn btn-black">Post Comment</button>
                </div>
            </div>
        </div>
    </form>

</div>
