@model ProductVM

<div class="inner-page-sidebar">
    <!-- Accordion -->
    <div class="single-block">
        <h3 class="sidebar-title">Categories</h3>
        <ul class="sidebar-menu--shop" style="max-height: 500px; overflow-y: scroll">
            @foreach (Category parent in Model.Categories)
            {
                <li><a href="#">@parent.Name (@Model.AllProducts.Count(p => p.Category.ParentId == parent.Id))</a></li>
                @if (parent.Children != null && parent.Children.Count() > 0)
                {
                    <ul class="inner-cat-items">
                        @foreach (Category child in parent.Children)
                        {
                            <li><a href="#">@child.Name (@Model.AllProducts.Count(p => p.CategoryId == child.Id))</a></li>
                        }
                    </ul>
                }
            }
        </ul>
    </div>
    <!-- Price -->
    <div class="single-block">
        <h3 class="sidebar-title">Fillter By Price</h3>
        <div class="range-slider pt--30">
            <div class="sb-range-slider"></div>
            <div class="slider-price">
                <p>
                    <input type="text" id="amount" readonly="">
                </p>
            </div>
        </div>
    </div>
    <!-- Size -->
    <div class="single-block">
        <h3 class="sidebar-title">Manufacturer</h3>
        <ul class="sidebar-menu--shop menu-type-2">
            <li><a href="#">Christian Dior <span>(5)</span></a></li>
            <li><a href="#">Diesel <span>(8)</span></a></li>
            <li><a href="#">Ferragamo <span>(11)</span></a></li>
            <li><a href="#">Hermes <span>(14)</span></a></li>
            <li><a href="#">Louis Vuitton <span>(12)</span></a></li>
            <li><a href="#">Tommy Hilfiger <span>(0)</span></a></li>
            <li><a href="#">Versace <span>(0)</span></a></li>
        </ul>
    </div>
    <!-- Color -->
    <div class="single-block">
        <h3 class="sidebar-title">Select By Color</h3>
        <ul class="sidebar-menu--shop menu-type-2">
            <li><a href="#">Black <span>(5)</span></a></li>
            <li><a href="#">Blue <span>(6)</span></a></li>
            <li><a href="#">Brown <span>(4)</span></a></li>
            <li><a href="#">Green <span>(7)</span></a></li>
            <li><a href="#">Pink <span>(6)</span></a></li>
            <li><a href="#">Red <span>(5)</span></a></li>
            <li><a href="#">White <span>(8)</span></a></li>
            <li><a href="#">Yellow <span>(11)</span> </a></li>
        </ul>
    </div>
    <!-- Promotion Block -->
    <div class="single-block">
        <a href="#" class="promo-image sidebar">
            <img src="image/others/home-side-promo.jpg" alt="">
        </a>
    </div>
</div>